/**index.less**/
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

//@import "./mixed/bottom_text/bottom_text.less";
@import "/pages/index/mixed/bottom_text/bottom_text.less";
