
.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #aaa;
  width: 70vw;

  >.avatar {
    display: block;
    width: 112rpx;
    height: 112rpx;
    border-radius: 4rpx;
  }

  >.nickname-wrapper {
    display: flex;
    width: 100%;
    padding: 32rpx;
    box-sizing: border-box;
    border-top: .5px solid rgba(0, 0, 0, 0.1);
    border-bottom: .5px solid rgba(0, 0, 0, 0.1);
    color: black;
    margin-top: 60rpx;

    >.nickname-label {
      width: 210rpx;
    }
  }
  
}